body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #9267cd, #b5c0ee);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease;
  text-align: center;
  width: 300px;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

button {
  padding: 12px;
  width: 100%;
  background-color: #5f198a;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a04cd8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#greeting {
  margin-top: 20px;
  color: rgb(37, 2, 99);
  font-weight: bold;
  animation: fadeIn 0.5s ease;
}
